# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.map
*.sym
*.lss
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
*.elf
*.hex
*.s19

#folder
Build
.settings
